{% extends "base.html" %}


{% block content %}
  <main class="book">
    <div id="info">
      <div id="image">
        Image
      </div>
      <section id="details">
        <h1>
          <div class="title">{{ _title }}</div>
          <div class="authors">{{ _authors | join(sep=", ")}}
          </div>
        </h1>
        <div class="isbn">{{ _isbn }}</div>
      </section>
    </div>
    <hr>
    <section id="associated-items">
      <h1>Associated Items</h1>
      Piffle
    </section>
  </main>
{% endblock content %}